#root {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0;
  background-color: #f8f9fa;
}
#content {
  background-color: white;
  display: block;
}
#header {
  background-color: white;
  padding: 8px;
  margin: 0;
  width: 1500px;
  display: flex;
  align-content: center;
}
#menuLines {
  height: 40px;
  position: relative;
  margin-left: 40%;
  margin-top: 45%;
}
#wikiLogo {
  height: 75px;
  position: relative;
  margin-left: 20%;
}
#search {
  margin-left: 7%;
  margin-top: 2%;
  width: 30%;
}

#searchBar {
  background-color: white;
  padding: 8px;
  width: 80%;
  font-size: 11pt; 
  padding-left: 15px;
  border: solid black 1px;
}
#submitButton {
  padding: 8px;
  width: 80px;
  margin-left: -1px;
  background-color: #f8f9fa;
  font-weight: bold;
  color: black;
  border: solid 1px black;
}
div div div#links a {
  font-family: 'Times New Roman', Times, serif;
  margin: 10px; 
  padding: 5px;
}

#links {
  margin-right: 5px;
  margin-top: 2%;
  margin-left: 30%;
}

#body {
  position: relative;
  display: flex;
}

#contentTable {
  align-content: left;
  color: black;
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 25px;
}

#name {
  font-family: 'Times New Roman', Times, serif;
  font-size: 28pt;
  font-weight: 100;
  color: black;
}

#bio {
  margin-left: 40px;
  background-color: #f8f9fa;
  border: 1px solid black;
  text-align: center;
  color: black;
  max-height: 450px;
}
#portrait {
  width: 300px;
  margin-top: 15px;
}

#portraitCaption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
}

#bioInfo {
  display: flex;
  text-align: left;
}
#information {
  list-style: none;
  margin-right: 20px;
}
#titles {
  list-style: none;
}
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  padding-bottom: 5px;
}
#titles li, p span {
  font-weight: bold;
}
ul {
  list-style: none;
}
#name {
  padding: 0px;
  margin-bottom: 0px;
}
#mainBody {
  margin-left: 40px;
  max-width: 1000px;
}
.bodyParagraph {
  color: black;
  font-size: 11pt;
  max-width: 500px;
}
#mainBodyContent {
  display: flex;
}
.sectionTitle {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 17pt;
}